/* DEFAULTS
----------------------------------------------------------*/
a {
 	font-size: 14px;
}

.TextoResaltado
{
	color: black;
	font-weight: bold; font-size: 12px; font-family: Arial; font-style: normal;
}
.TextoComun
{
	position: relative; border: 0px; color: gray;
	font-weight: normal; font-size: 12px; font-family: Arial; font-style: normal;
}
.TextoCenter
{
	text-align: center;
}
.TextDecorationNone
{
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}
.myClass
{
	font-family: Sans-Serif;
}
.myClass01
{
	font-family: Sans-Serif;
}
.myClass02
{
	font-style: italic;
}
.Pxs
{
	font-size: 14px;
}

.containerClass .ajax__html_editor_extender_container
{
    width: 100% !important;/*important is really important at here*/
    height: 100% auto; 
}