<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <sessionState timeout="20"></sessionState>
	</system.web>

	<location allowOverride="true">
		<appSettings>
			<!--<add key="CnnStr" value="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=Tango;"/>-->
			<add key="CnnStr" value="User ID=Condeco;Password=123456;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CondecoDemo;" />
      <add key="Ambiente" value="DESA"/>
			<add key="Cultura" value="en-GB"/>
			<add key="CulturaDateTimeFormat" value="es-AR"/>
			<add key="Autenticacion" value="NONE"/>
			<add key="Propietario" value="Condeco"/>
			<add key="NombreAplic" value="Condeco"/>
			<add key="CodigoAplic" value="Condeco"/>
			<add key="Mantenedores" value="condecopc@gmail.com"/>
			<add key="MensajeGeneral" value="AMBIENTE DE DESARROLLO"/>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<!-- <add key="Servidor" value="http://localhost:1133"/> -->
			<!-- <add key="Servidor" value="http://cedeiraweb.no-ip.org:8090"/> -->
			<add key="Servidor" value="http://www.condeco.com.ar"/>
			<add key="MailServidorSmtp" value="mail.condeco.com.ar"/>
			<add key="MailCredencialesUsr" value="info@condeco.com.ar"/>
			<add key="MailCredencialesPsw" value="condeco225"/>
			<add key="ContactoMailMotivoProducto" value="info@condeco.com.ar"/>
			<add key="ContactoMailMotivoOtro" value="info@condeco.com.ar"/>
		</appSettings>
	</location>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
